.container {
    display: flex;
}

.font1 {
. font-size: 60 px;
. width: 100 %;
. display: block;
. text-align: right;
}

.header {
    height: 5%;
    text-align: right;
    background: aliceblue;
    color: black;
    font-size: 15px;
}

#signUp {
    margin-outside: 0;
}

#signIn {
    margin-outside: 0;
}

#sideBar {
    width: 17%;
    background: aliceblue;
}

#content {
    flex: auto;
}

.item + .item {
    margin-left: 2%;
}