.container {
    display: flex;
}

.font1 {
. font-size: 60 px;
. width: 100 %;
. display: block;
. text-align: right;
}

#sideBar {
    width: 20%;
    background: aliceblue;
}

#content {
    flex: auto;
}

.item + .item {
    margin-left: 2%;
}