<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
          integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <title>Schedules list</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Station name</th>
        <th scope="col">Departure date time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="schedule, iStat : ${schedules}">
        <td th:text="${schedule.station.stationName}"></td>
        <td th:text="${schedule.arrivalDateTime}"></td>
    </tr>
    </tbody>
</table>

<nav aria-label="...">
    <ul class="pagination pagination-sm" th:if="${pageNumbers.size() > 0}">
        <li class="page-item" th:each="pageNumber, iStat : ${pageNumbers}">
            <a class="page-link" th:href="@{/schedules/scheduleinfo(page=${iStat.index}, trainNumber=${trainNumber})}"
               th:text="${iStat.index+1}"></a>
        </li>
    </ul>
</nav>

<a th:href="@{'/'}"
   class="btn btn-primary mt-5">Back to start page</a>
</body>
</html>