<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
          integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <title>Menu</title>
</head>
<body>
<div th:fragment="menu">
    <div sec:authorize="isAnonymous()" class="userCreate">
        <a href="/user" class="btn btn-light">Sign up</a>
    </div>
    <div sec:authorize="isAnonymous()" class="userLogin">
        <a href="/login" class="btn btn-light">Sign in</a>
    </div>
    <div sec:authorize="isAuthenticated()" class="userLogout">
        <a href="/logout" class="btn btn-light">Sign out</a>
    </div>
    <br>
    <div class="TrainSearch">
        <a href="/trains/search" class="btn btn-light">Search trains</a>
    </div>
    <br>
    <div class="ScheduleByStation">
        <a href="/stations/schedule" class="btn btn-light">Check schedule by station</a>
    </div>
    <br>
    <div sec:authorize="isAuthenticated()" class="admin">
        <div sec:authorize="hasRole('ADMIN')" class="GetAllTrains">
            <a href="/trains/all" class="btn btn-light">Get all trains</a>
        </div>
        <br>
        <div sec:authorize="hasRole('ADMIN')" class="RootEditor">
            <a href="/roots/editor" class="btn btn-light">Root editor</a>
        </div>
        <br>
        <div sec:authorize="hasRole('ADMIN')" class="StationEditor">
            <a href="/stations/editor" class="btn btn-light">Station editor</a>
        </div>
        <br>
        <div sec:authorize="hasRole('ADMIN')" class="StationEditor">
            <a href="/trains/editor" class="btn btn-light">Train editor</a>
        </div>
        <br>
        <div sec:authorize="hasRole('ADMIN')" class="ScheduleEditor">
            <a href="/schedules/editor" class="btn btn-light">Schedule editor</a>
        </div>
        <br>
        <div sec:authorize="hasRole('ADMIN')" class="GetTicketsByTrain">
            <a href="/tickets/all" class="btn btn-light">Get all train passengers</a>
        </div>
    </div>
    <br>
    <div class="home">
        <a href="/home" class="btn btn-light">Home page</a>
    </div>
</div>
</body>
</html>