<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div class="border" th:if="${roots.size()} > 0">
    <h2>Users:</h2>
    <table class="table">
        <thead>
        <tr>
            <th>LinkedPaths</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="root : ${roots}">
            <td th:text="${root.getLinkedPaths()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>