<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
          integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <title>Trains</title>
</head>
<body>
<div class="border" th:if="${departures.size()} > 0">
    <h2>Trains:</h2>
    <p>From:
        <span th:text="${departures.get(0).station.stationName}"></span>
    </p>
    <p>To:
        <span th:text="${arrivals.get(0).station.stationName}"></span>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>Train number</th>
            <th>Departure date time</th>
            <th>Arrival date time</th>
            <th>Available seats</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="departure,iter : ${departures}">
            <span th:if="${departure.arrivalDateTime.isBefore(arrivals.get(iter.index).arrivalDateTime)}">
                <span th:if="${departure.arrivalDateTime.isAfter(departure.arrivalDateTime.now())}">
            <td th:text="${departure.trainId.getTrainNumber()}"></td>
            <td th:text="${departure.getArrivalDateTime()}"></td>
            <td th:text="${arrivals.get(iter.index).getArrivalDateTime()}"></td>
            <td th:text="${departure.trainId.getAvailableSeatsNumber()}"></td>
            <td th:if="${departure.trainId.getAvailableSeatsNumber()!=0}"><a
                    th:href="@{'/tickets?departureId='+${departure.id}+'&arrivalId='+${arrivals.get(iter.index).id}}"
                    class="btn btn-primary mt-5">Select</a>
            </td>
                    </span>
                </span>

            <!--            th:href="@{'/tickets/create?trainId='+${departure.trainId.trainId}}"-->
            <!--            <td th:if="${departure.trainId.getAvailableSeatsNumber()!=0}">-->
            <!--            <button class="btn btn-primary btn-sm btn-block" th:onclick="|bookTickets('${departure.movieName}')|">Select</button>-->
            <!--            </td>-->
        </tr>
        </tbody>
    </table>
    <a th:href="@{'/'}"
       class="btn btn-primary mt-5">Back to start page</a>
</div>
</body>
</html>